---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ActivityListCardItem from "../components/ListCardItem/Activity.astro";
import ListCardItem from "../components/ListCardItem.astro";
import { getCollection } from "astro:content";

const activities = await getCollection("activities");

const getByType = (type: string) => {
  return activities.filter((item) => item.data.type === type);
};

const ships = getByType("ship");
const orienteering = getByType("orienteering");
const outdoorPlaygrounds = getByType("outdoor-playground");
const indoorPlaygrounds = getByType("indoor-playground");
---

<Layout title="Tricity hiking - Activities">
  <div
    class="max-w-(--breakpoint-xl) mx-auto relative px-2 lg:px-0"
    transition:name="map"
  >
    <div class="my-4">
      <h2 class="text-2xl mb-3">Ship-museums</h2>
      <p class="my-2">
        There are three ship-museums in Tricity. Two of them located in Gdynia
        and one in Gdańsk. They are all different have have long history of
        active duty. They are open for visitors both on the deck and inside.
      </p>

      <ul>
        {
          ships.map(({ data }) => (
            <ListCardItem link={data.link}>
              {data.image && (
                <Image
                  src={data.image}
                  width="160"
                  height="160"
                  class="w-20 h-20 grayscale-50 group-hover:grayscale-0"
                  alt={`Photo of ${data.name}`}
                  slot="image"
                />
              )}

              <span class="group-hover:text-green-600" slot="title">
                {data.name}
              </span>

              <span class="group-hover:text-green-600" slot="description">
                {data.description}
              </span>
            </ListCardItem>
          ))
        }
      </ul>
    </div>

    <div class="my-4">
      <h2 class="text-2xl mb-3">Orienteering</h2>

      <p class="my-2">
        Orienteering is a sport that connects physical exertion and navigation.
        You get a map with checkpoints and you have to find them in the forest
        or urban terrain. You need to bring your own compass, in some of them
        you can use compass from your phone but it may be considered as
        cheating. If you are competitive you can run to get the best time, but
        you can also just walk and enjoy the nature and the challenge of finding
        the point.
      </p>

      <p class="my-2">
        All 3 organizations prepare routes in four difficulty levels.
      </p>

      <ul>
        {
          orienteering.map(({ data }) => (
            <ActivityListCardItem
              link={data.link}
              icon="mdi:map-outline"
              name={data.name}
              description={data.description}
            />
          ))
        }
      </ul>
    </div>

    <div class="my-4">
      <h2 class="text-2xl mb-3">Playgrounds - outdoor</h2>
      <p class="my-2">
        Tricity has a lot of playgrounds for kids. The list below highlights the
        biggest or the most interesting ones.
      </p>

      <ul>
        {
          outdoorPlaygrounds.map(({ data }) => (
            <ActivityListCardItem
              link={data.link}
              icon="mdi:playground-seesaw"
              name={data.name}
              description={data.description}
            />
          ))
        }
      </ul>
    </div>

    <div class="my-4">
      <h2 class="text-2xl mb-3">Playgrounds - indoor</h2>
      <p class="my-2"></p>

      <ul>
        {
          indoorPlaygrounds.map(({ data }) => (
            <ActivityListCardItem
              link={data.link}
              icon="mdi:playground-slide"
              name={data.name}
              description={data.description}
            />
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
