---
import Layout from "../layouts/Layout.astro";
import FoodListCardItem from "../components/ListCardItem/Food.astro";

const icons: Record<string, string> = {
  Breakfast: "mdi:silverware",
  "Lunch/Dinner": "mdi:silverware-fork-knife",
  Caffe: "mdi:coffee",
};

const places = [
  {
    name: "Avocado",
    link: "https://avocadovegan.pl/",
    kind: "Breakfast",
    location: "Gdańsk",
  },
  {
    name: "Marmolada Chleb i Kawa",
    link: "https://marmoladachlebikawa.pl/",
    kind: "Breakfast",
    location: "Gdańsk",
  },
  {
    name: "Pomelo",
    link: "https://www.pomelogdansk.pl/",
    kind: "Breakfast",
    location: "Gdańsk",
  },
  {
    name: "Pasta miasta",
    link: "https://www.pastamiasta.pl/",
    kind: "Lunch/Dinner",
    location: "Gdynia",
  },
  {
    name: "Hellas Gyradiko",
    link: "https://hellasgyradiko.eatbu.com/?lang=pl",
    kind: "Lunch/Dinner",
    location: "Gdynia",
  },
  {
    name: "Sumo Ramen",
    link: "https://www.facebook.com/p/SUMO-RAMEN-100027868855912/?locale=pl_PL",
    kind: "Lunch/Dinner",
    location: "Gdynia",
  },
  {
    name: "A Modo Mio",
    link: "https://www.facebook.com/p/A-Modo-Mio-da-Ciro-100069903701638/",
    kind: "Lunch/Dinner",
    location: "Sopot",
  },
  {
    name: "Pak Choi",
    link: "http://www.restauracjapakchoi.pl/",
    kind: "Lunch/Dinner",
    location: "Sopot",
  },
  {
    name: "Phuket - Thai Food & Bar",
    link: "https://www.facebook.com/phuketsopot/",
    kind: "Lunch/Dinner",
    location: "Sopot",
  },
  {
    name: "la nostra pizzeria",
    link: "https://www.facebook.com/Sopotlanostrapizzeria/",
    kind: "Lunch/Dinner",
    location: "Sopot",
  },
  {
    name: "Flaming & Co",
    link: "https://flaming-co.com/",
    kind: "Caffe",
    location: "Sopot",
  },
  {
    name: "Santa Cafe",
    link: "https://www.facebook.com/santacafe2020/",
    kind: "Caffe",
    location: "Sopot",
  },
  {
    name: "KAISER Patisserie",
    link: "https://kaiserpatisserie.pl/sopot/",
    kind: "Caffe",
    location: "Sopot",
  },
  {
    name: "Ancymon",
    link: "https://www.ancymoncafe.com/",
    kind: "Caffe",
    location: "Gdańsk",
  },
];
---

<Layout title="Tricity hiking - Food">
  <div
    class="max-w-(--breakpoint-xl) mx-auto relative px-2 lg:px-0"
    transition:name="map"
  >
    {
      ["Breakfast", "Lunch/Dinner", "Caffe"].map((category) => (
        <div class="my-4">
          <h2 class="text-2xl mb-3">{category}</h2>
          <ul>
            {places
              .filter((p) => p.kind === category)
              .map((place) => (
                <FoodListCardItem
                  link={place.link}
                  name={place.name}
                  location={place.location}
                  icon={icons[place.kind]}
                />
              ))}
          </ul>
        </div>
      ))
    }
  </div>
</Layout>
