---
import Layout from "../layouts/Layout.astro";
import TimelineRoot from "../components/ui/Timeline/Timeline.astro";
import TimelineItem from "../components/ui/Timeline/TimelineItem.astro";
import TimelineOppositeContent from "../components/ui/Timeline/TimelineOppositeContent.astro";
import TimelineOppositeContentSecondary from "../components/ui/Timeline/TimelineOppositeContentSecondary.astro";
import TimelineSeparator from "../components/ui/Timeline/TimelineSeparator.astro";
import TimelineDot from "../components/ui/Timeline/TimelineDot.astro";
import TimelineConnector from "../components/ui/Timeline/TimelineConnector.astro";
import TimelineContent from "../components/ui/Timeline/TimelineContent.astro";
import TimelineContentLabel from "../components/ui/Timeline/TimelineContentLabel.astro";

type TimelineEvent = {
  year: number;
  event: string;
  description?: string;
  label?: string;
  minor?: boolean;
};

const timelineConfig: TimelineEvent[] = [
  {
    year: 997,
    event: "First record of GYDDANYZC",
    label: "Mostly Pomerelian dukes",
  },
  {
    year: 1308,
    event: "Danzig massacre",
    label: "Teutonic Order",
    description:
      "Teutonic Order helped to relieve Danzing from a siege, but the ally quickly turned into an enemy and took over the city.",
  },
  {
    year: 1410,
    event: "Battle of Grunwald",
    description:
      "Danzig paid homage to Polish King, but returned to Teutonic control a couple months after",
    label: "Teutonic Order",
    minor: true,
  },
  {
    year: 1454,
    event: "Danzig rebellion",
    label: "Poland",
    description:
      "Danzig rebels against the Teutonic Order and soon after supports Polish king in the Thirteen Years' War.",
  },
  {
    year: 1793,
    event: "Second Partition of Poland",
    label: "Prussia",
    description:
      "The annexation of Polish territories by Russia and Prussia occurred as a result of the lost Russo-Polish war a year earlier. The citizens of Gdańsk tried to resist the new Prussian authorities, but they were quickly suppressed.",
  },
  {
    year: 1807,
    event: "Siege of Danzig",
    label: "Free City (Napoleonic)",
  },
  {
    year: 1814,
    event: "Siege of Danzig",
    label: "Prussia",
  },
  {
    year: 1871,
    event: "Unification of Germany",
    label: "Germany",
    minor: true,
  },
  {
    year: 1918,
    event: "Weimar Republic is established",
    label: "Weimar Republic",
    minor: true,
  },
  {
    year: 1920,
    event: "Treaty of Versailles",
    label: "Free City (Versailles)",
  },
  {
    year: 1939,
    event: "Invasion of Poland",
    label: "Nazi Germany",
  },
  {
    year: 1945,
    event: "Liberation of Danzig",
    label: "Poland",
  },
];

type TimelineConfigProcessed = {
  year: number;
  event: string;
  label?: string;
  duration: number;
  description?: string;
  minor?: boolean;
};

const timelineConfigProcessed: TimelineConfigProcessed[] = [];

timelineConfig.forEach((item, index) => {
  timelineConfigProcessed.push({
    year: item.year,
    event: item.event,
    minor: item.minor,
    label: item.label,
    description: item.description,
    duration:
      (timelineConfig[index + 1]?.year || new Date().getFullYear()) - item.year,
  });
});
---

<Layout title={`Overview of the major events in the history of Gdańsk`}>
  <div class="max-w-(--breakpoint-xl) mx-auto py-4 px-2 lg:px-0">
    <h2 class="text-3xl my-4">History</h2>

    <p class="text-lg my-4">
      The timeline below presents the key events in the history of Gdańsk. On
      the left there is a title and brief summary of the event, while on the
      right there is the year and the political entity that ruled Gdańsk at that
      time. The length of the vertical line roughly corresponds to the duration
      of the rule.
    </p>

    <TimelineRoot>
      <TimelineItem>
        <TimelineSeparator slot="separator">
          <TimelineConnector />
        </TimelineSeparator>
      </TimelineItem>
      {
        timelineConfigProcessed.map((item) => (
          <TimelineItem key={item.year} height={40 + item.duration * 0.4}>
            <TimelineOppositeContent slot="opposite-content">
              {item.event}

              {item.description && (
                <TimelineOppositeContentSecondary>
                  {item.description}
                </TimelineOppositeContentSecondary>
              )}
            </TimelineOppositeContent>
            <TimelineSeparator slot="separator">
              <TimelineDot variant={item.minor ? "minor" : "regular"} />
              <TimelineConnector />
            </TimelineSeparator>
            <TimelineContent slot="content">
              {item.year}
              {item.label && (
                <TimelineContentLabel>{item.label}</TimelineContentLabel>
              )}
            </TimelineContent>
          </TimelineItem>
        ))
      }
    </TimelineRoot>
  </div>
</Layout>
