---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Homepage from "../components/Homepage.astro";
import { TrailAttributeValue } from "../components/TrailAttributeValue/TrailAttributeValue";
import { TrailAttributeName } from "../components/TrailAttributeName/TrailAttributeName";
import TrailAttribute from "../components/TrailAttribute.astro";
import ListCardItem from "../components/ListCardItem.astro";
import { enhance } from "../services/enhance";
import { mToKm } from "../services/mToKm";
import { formatTime } from "../services/formatTime";
import { getLineStringFeature } from "../services/getLineStringFeature";
import { Icon } from "astro-icon/components";

const routes = await getCollection("routes");

const geojsonList = [];

for (const route of routes) {
  const geojson = await getEntry(route.data.geojson);
  const enhancedGeojson = enhance({
    collection: geojson.data,
    route: route.data,
  });
  geojsonList.push({
    route,
    properties:
      getLineStringFeature({ collection: enhancedGeojson })?.properties ?? {},
  });
}
---

<Layout title="Tricity hiking - list of routes">
  <Homepage>
    <div
      class="max-w-screen-xl mx-auto relative px-2 lg:px-0"
      transition:name="map"
    >
      <ul>
        {
          geojsonList.map(({ route, properties }) => (
            <ListCardItem
              link={`/tricity-hiking/routes/${route.data.geojson.id}`}
              imageSrc={route.data.preview?.src}
            >
              <span class="flex gap-1" slot="title">
                <Icon name="mdi:location-on" class="text-green-500" />
                {route.data.title}
              </span>

              <div class="flex justify-between max-w-lg" slot="attributes">
                <TrailAttribute>
                  <Icon name="mdi:hiking" class="w-5 h-5" slot="icon" />

                  <TrailAttributeValue
                    value={`${mToKm(properties.distance).toFixed(2)}km`}
                  />
                  <TrailAttributeName value="Distance" />
                </TrailAttribute>

                <TrailAttribute>
                  <Icon
                    name="mdi:clock-time-three-outline"
                    class="w-5 h-5"
                    slot="icon"
                  />

                  <TrailAttributeValue
                    value={formatTime(properties.estimatedTime)}
                  />
                  <TrailAttributeName value="Time" />
                </TrailAttribute>

                <TrailAttribute>
                  <Icon
                    name="mdi:arrow-top-right-thin"
                    class="w-5 h-5"
                    slot="icon"
                  />

                  <TrailAttributeValue
                    value={`${properties.totalGain.toFixed(0)}m`}
                  />
                  <TrailAttributeName value="Total Gain" />
                </TrailAttribute>

                <TrailAttribute>
                  <Icon
                    name="mdi:arrow-bottom-right-thin"
                    class="w-5 h-5"
                    slot="icon"
                  />

                  <TrailAttributeValue
                    value={`${properties.totalLoss.toFixed(0)}m`}
                  />
                  <TrailAttributeName value="Total Loss" />
                </TrailAttribute>
              </div>
            </ListCardItem>
          ))
        }
      </ul>
    </div>
  </Homepage>
</Layout>
